* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-color: #020207;
}

span {
  white-space: nowrap;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.header {
  border-radius: 4px;
  background-color: #416788;
  color: lightgray;
  padding: 1px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 7px;
  background-color: #416788;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  vertical-align: middle;
  text-align: center;
}

.menu li:hover {
  background-color: #416788;
}

.footer {
  border-radius: 4px;
  background-color: #416788;
  color: lightgray;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.main {
  color: #ADA9B7;
}

h1, h2 {
  text-align: center;
}

.section {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid lightslategray;
  border-radius: 5px;
}

.container {
  display: flex;
}

label {
  font-weight: bold;
}

.label-div {
  float: left;
  width: 130px;
  padding-left: 5px;
  vertical-align: middle;
}

input {
  min-width: none;
  width: 100%;
  background-color: #ADA9B7;
  border: 0;
  border-color: #ADA9B7;
  border-radius: 3px;
  color: navy;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

/* Hide arrows on number fields -> Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-div {
  float: right;
  min-width: 10px;
  flex-grow: 1;
  padding-right: 5px;
}

.subSectionHeader {
  text-align: center;
}

.headerLink a:link {
  color: lightblue;
}

.headerLink a:hover {
  text-decoration: underline;
}

#charSection {
  max-width: 800px;
}

#bioSection {
  float: left;
  width: 60%;
  flex-grow: 1;
}

#bioSection .label-div {
  width: 120px;
}

#fatePointSection {
  float: right;
}

#fatePointSection .label-div {
  width: unset;
  flex-grow: 1;
}

#fatePointSection .input-div {
  width: 55px;
  padding-left: 3px;
  flex-grow: unset;
}

#egoAspectsSection {
  width: 60%;
}

#backgroundSection {
  float: right;
  width: 40%;
}

#skillsSection .input-div {
  width: 60px;
  align-items: center;
  flex-grow: unset;
}

#skillsSection .container {
  align-content: center;
}

#skillsLeft {
  border-right: 1px solid lightblue;
}

.fifty-fifty {
  width: 50%;
}

.stunt-section {
  border-top: 1px dotted lightblue;
  padding-top: 5px;
}

.rel-skill-section {
  flex-grow: 1;
}

.rel-skill-section .label-div {
  width: 130px;
  flex-grow: unset;
}

.cost-section {
  float: right;
  width: 80px;
  padding-right: 5px;
}

.cost-label-div {
  width: 50px;
}

.cost-input-div {
  width: 30px;
  flex-grow: unset;
}

.morphInfoRow .label-div {
  width: 20%;
}

.morphInfoRow .input-div {
  width: 30%;
}

#morph0Aspects .label-div {
  width: 80px;
}

#morph0Traits .label-div {
  width: 80px;
}

p {
  padding-left: 5px;
  padding-right: 5px;
}
